
#intro {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
}
.bold {
    font-weight: 900;
}
#pubs {
    background-color: #5ba0bb;
    padding: 20px;
}
#pubs h2, #pubs h3 {
    color: white;
    font-weight: bold;
}
#pubs a {
    color: black;
}
#pubs a:hover {
    color: rgb(51, 51, 51);
}
#resources {
    font-size: 11pt;
}
#resources h3 {
    font-size: 18pt;
}

#publications ul {
    list-style: none;
}
#publications ul li {
    margin-top: 10px;
    line-height: 120%;
}
#publications ul li a {
    color: rgb(3, 39, 71);
    font-weight: bold;
}
#publications ul li a:hover{
    color:rgb(182, 214, 243);
}
span.authors {
    color: black;
    font-weight: normal;
    font-size: 9pt;
}

.cv-links {
    margin: auto;
    margin-top: 30px;
}
.cv-btn {
    margin: 10px;
    padding: 10px;
    color: #d8eec5;
    background-color: #057aa8;
    opacity: .8;
    border-radius: 6px;
}
.cv-btn:visited {
    color: inherit
}
.cv-btn:hover {
    opacity: 1;
    color: white;
}


#lastname {
    display: none;
  }
  .advert {
    font-size: 10pt;
    float: right;
  }