body {
  margin: 0px;
  padding: 0px;

  background-color: #fafafa;
}

p, a, li, th, td {

  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Tsukimi Rounded', sans-serif;
}

#page-header {
  padding: 6px;
  background-color: #04384d;
}

ul.main-nav {
  margin: 0px;
  padding: 0px;
  float: right;
}
ul.main-nav li {
  display: inline-block;
  margin: 4px 8px;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  height: 36px;
  border-radius: 6px;
  color: #b1c4a0
}
ul.main-nav li a {
  color: inherit;
  font-family: 'Poppins', sans-serif;
}
ul.main-nav li:hover  {
  background-color: rgb(56, 67, 77);
}


.brand {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-size: 24pt;
  color: white;
  font-weight: 600;
}

.container {
  width: 1000px;
  margin: auto;
}
.orbit-section {
  background-color: black;
}
.container header a{
  float: right;
}

.flex {
  display: flex;
}


#page-footer {
  margin: 0px;
  margin-top: 20px;
  padding: 20px;
  background-color: #04384d;
  text-align: center;
  color: #b1c4a0
}
